<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="header :: head"></div>
<body>
<div th:include="header :: navbar"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.tag-checkbox').on('change', function() {
            if($('.tag-checkbox:checked').length > 4) {
                this.checked = false;
            }
        });
    });
</script>
<div class="container">
        <div class="col-4 mt-4 p-5 bg-white rounded-lg m-auto">
       
            <form method="post" th:action="@{/saveTags}">
                <h1 th:text="${headerMessage}"></h1>
                <h1 th:text="${succesMessage}"></h1>
            <div class="tag-box" th:each="tag : ${tags}">
                <label><input class="tag-checkbox" type="checkbox" name="checkedTags" th:value="${tag.id}"/><span th:text="'#'+${tag.tagName}"></span></label>
            </div>
                <div class="text-center pt-4">
                        <input type="submit" class="btn btn-edit w-100 text-grey" th:value="${buttonText}"></button>
                </div>
            </form>
        </div>
</div>
<script src="../js/getLocation.js" ></script>
<script src="../js/chart.js" ></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>