<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="header :: head"></div>
<header><title>Weather</title></header>

<body>
<div th:include="header :: navbar"></div>
<div class="container">
    <!-- <div th:include="forecastChart :: forecast-graph"></div> -->
    <input type="hidden" name="predictionType" id="predictionType" value="forecast">
    <div th:include="forms :: search-form"></div>
    <div class="row">
        <div class="col" id="weatherCard"></div>
    </div>
</div>
<div th:include="footer :: scripts"></div>
</body>
</html>
