<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <link href="../css/owfont-regular.min.css" rel="stylesheet" type="text/css">-->
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Weather Summary</title>
</head>
<body>
<script th:inline="javascript">

    var charts = /*[[${charts}]]*/ 'default';
    var avgWeather = /*[[${avgWeather}]]*/'default';
    var cityName = /*[[${cityName}]]*/'default';

    //  Only a test
    charts.forEach(myFunction);

    function myFunction(value, index, array) {
        console.log(value);
    }

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: false,
        theme: "light2",
        exportEnabled: true,
        title: {
            text: cityName
        },
        axisY: {
            suffix:" °C",
            maximum: 40,
            includeZero: false
        },
        data: [{
            type: "area",
            indexLabel: "{ y } °C" ,
            dataPoints: []
        }]
    });


    /* Update dataPoints from AJAX and render the chart*/
    chart.options.data[0].dataPoints = charts;
    console.log(chart.name);
    // console.log(avgWeather);
    chart.render();


    /*]]>*/
</script>
<div class="col m-auto">
    <ul class="list-group m-4">
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </ul>
</div>
<div th:include="footer :: scripts"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="../js/getLocation.js" ></script>
<script src="../js/chart.js" ></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>