<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:include="header :: head"></div>
<header><title>Weather</title></header>
<body>
<div th:include="header :: navbar"></div>

<div class="container">

    <div class="page-title d-flex justify-content-between p-3">
        <h1 class="h1">My Saved Cities</h1>

        <button type="button" id="edit-button" onclick="edit()" value="" class="btn btn-outline-search my-2 rounded">
            <i class="fa fa-pencil p-2" aria-hidden="true"></i>Edit</button>
    </div>
    <div th:class="${stylesuccesMessage}">
        <i class="fa fa-check-circle-o d-none" th:classappend="${visible}" aria-hidden="true"></i>
        <p th:text="${succesMessage}"></p>
    </div>
    <div class="position-relative">

        <div class="row">
            <div class="" th:include="savedCitiesCard :: saved-cities"></div>
        </div>
    </div>
</div>
<div th:include="footer :: scripts"></div>

</body>
</html>