<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:include="header :: head"></div>
<header><title>Weather</title></header>
<body>
<div>
    <div th:include="header :: navbar"></div>

    <div class="container">
        <div class="index-block bg-transparent py-4">
            <h2 class="h2 p-3" th:text="${title}"></h2>
        </div>
        <input type="hidden" name="predictionType" id="predictionType" th:value="${predictionType}">
        <div class="col" id="errorField"></div>
        <p class="p-3 bg-light" th:text="${description}"></p>
        <div th:include="forms :: search-form">
        </div>
        <div class="row">
            <div class="col" id="weatherCard"></div>
        </div>
    </div>
    <div th:include="footer :: scripts"></div>
</div>
</body>
</html>
